:host {
  font-size: var(--font-size);
  position: relative;
  /* min-height: 800px; */
}

/* slot {
  display: none;
} */

wc-codemirror {
  /* border-radius: 4px 4px 0 0; */
  overflow: hidden;
  overflow: scroll;
}

.cm-s-neo .CodeMirror-cursor {
  background: transparent;
}

select {
  /* position: absolute; */
  top: 0;
  right: 0;
  z-index: 100;
}
